body{
    text-align: center;
    background-color: thistle;
    border: 10px, dotted, blueviolet;
    margin: 10px;
    padding: 30px;
    color: midnightblue;
}

button{
    color: thistle;
    background-color: blueviolet;
    height: 50px;
    width: 100px;
    border-radius: 30px;
}

button:hover{
    cursor: pointer;
    color: blueviolet;
    background-color: thistle;
}

input{
    border-radius: 5px;
}

textarea{
    border-radius: 5px;
    width: 400px;
    height: 100px;
}